@import "layout";
@import "palette"; // from https://www.materialpalette.com

#wrapper {
  background-color: $primary-color-light;
  header {
    nav {
      background-color: $primary-color-dark;
    }
  }
  #main {

  }

  footer {
    height: 3.5em;
    background-color: $primary-color-dark;
    color: $primary-color-light;
    line-height: 3.5em;
    text-align: center;
  }
}
